:root {
    --heading-font: 'Outfit', Arial, sans-serif;
    --body-font: 'Roboto Mono', Courier;

    --background-light: #e4e4e4;
    --text-light: #161616;
    --highlight-light: #144029;
    
    --background-dark: #161616;
    --text-dark: #e4e4e4;
    --highlight-dark: #45FFB8;

}

h1, h2, h3, h4, h5, h6 {
    color: var(--highlight-light)
}

body {
    background: var(--background-light);
    color: var(--text-light);
}

body.dark-mode{
    background: var(--background-dark);
    color: var(--text-dark);
    h1, h2, h3, h4, h5, h6 {
        color: var(--highlight-dark)
    }
    .animated-link{
        color: var(--highlight-dark)
    }
    .animated-link::after{
        background-color: var(--highlight-dark);
    }
}

.hero-card{
    display: grid;
    
}

header {
    padding: clamp(2rem, 10vh 4rem);
}
header nav ul {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
}
ul div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header nav ul li {
    margin: 0 2rem;
}

.skip-link {
    position: absolute;
    top: -60px; /* Hides it above the screen */
    left: 10px;
    background-color: #5200DB;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #333;
    transition: top 0.3s ease-in-out;
}
.skip-link:focus {
    top: 80px; /* Moves it into view when focused */
}

.animated-link{
    font-family: var(--heading-font);
    font-size: x-large;
    position: relative;
    text-decoration: none;
    color: var(--highlight-light);
}

.animated-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; /* Adjusts spacing under text */
    width: 0%; /* Starts with no width */
    height: 0.125rem; /* Thickness of the underline */
    background-color: var(--highlight-light);
    transition: width 0.2s ease-in-out; /* Smooth animation */
}
.animated-link:hover::after{
    width: 100%; /* Full width on hover */
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
